@import "../../node_modules/jack-hermanson-css-lib/src/main";
@import "theme";
@import "layout";

a {
  text-decoration: none;
}

a.dotted-link {
  color: white;
  border-bottom: 1px dotted white;
}

dl {
  dd:last-of-type {
    margin-bottom: 0;
  }
}

.line-height-1 {
  line-height: 1;
}
